{
    "logging": true,
    "flask": {
        "static_folder": "static/",//Follow flask documentation on how to specify
        "image_folder": "src/images",//Must be relative to the workingDir
        "port": 5000
    },
    "database": {
        "host": "127.0.0.1",
        "port": "3306",
        "database": "",
        "user": "",
        "password": ""
    }
}